<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Item Name</mat-card-title>
      <mat-card-subtitle>Owner Name</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Some text will go here, right now this is just a placeholder. But we want to put
        some details about items here.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button id="likeButton">Like</button>
      <button mat-button id="swapForButton" (click)="onClick()">Swap For</button>
    </mat-card-actions>
  </mat-card>
  