mat-card-actions {
    display: grid;
    grid-template-areas: "one two";
    align-items: center;
    gap: 50px;
}

#swapForButton {
    background-color: rgba(255, 153, 0, 0.215);
}

#likeButton {
    background-color: rgba(0, 102, 255, 0.215);
}