<ng-container *ngIf="swappingFor">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{itemName}}</mat-card-title>
          <mat-card-subtitle>{{itemOwner}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{imageSource}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{itemDescription}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button id="likeButton" color="accent" (click)="onClickLike()">{{like}}</button>
          <button mat-raised-button id="swapForButton" (click)="onClickSwapFor()" color="primary">Swap For</button>
        </mat-card-actions>
    </mat-card>
</ng-container>


  