<div class="login-container" (keydown.Enter)="login()">
    <div class="element">
        <div class="logo">
            <img  class="images" src="../../assets/transparent.png"/>
        </div>
        <div [formGroup]="form">
            <div class="login-ux">
                <div id="input-fields">
                    <mat-form-field class="login-credentials-input">
                        <input matInput name="username" type="username" formControlName="username" placeholder="Username">
                        <button *ngIf="form.get('username')" matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="login-credentials-input">
                        <input matInput name="password" type="password" formControlName="password" placeholder="Password">
                        <button matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button mat-raised-button data-cy="login" color="primary" id="credentials-submit" type="button" (click)="login()" (keydown.enter)="login()">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="signup">
    <h2>Don't have an account?</h2>
    <h3>Join the USwap community!</h3>
    <button mat-button id="signup" type="button" (click)="signUp()">Sign up</button>
</div>