<div class="login-container" (keydown.Enter)="onClick()">
    <div class="element">
        <div class="logo">
            <img  class="images" src="../../assets/logo.png"/>
        </div>
        <div class="login-ux">
            <div id="input-fields">
                <mat-form-field class="login-credentials-input">
                    <input matInput type="username" [(ngModel)]="userName" id="email-input" placeholder="Username">
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="userName=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="login-credentials-input">
                    <input matInput type="password" [(ngModel)]="userPassword" id="password-input" placeholder="Password">
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="userPassword=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>     
            <button mat-button id="credentials-submit" type="button" (click)="onClick()">Login</button>    
        </div>
    </div>
</div>