#meta-grid-container {
    display: grid;
    background-color: green;
    height: 90%;
    width: 100%;
    grid-template-areas: "main";
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;    
}

#main-grid-container {
    grid-area: main;
    background-color: blue;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas:    "row-1"
                            "row-2"
                            "row-3";
    grid-template-columns: 100%;
    grid-template-rows: 200px 750px 200px;
    justify-content: center;
}

.welcome {
    grid-area: row-1;
    display: grid;
    height: 100%;
    align-items: center;
    background-color: purple;
    text-align: center;
    font-weight: lighter;
    
    #first {
        font-size: 50pt;
    }

    #second {
        margin-top: -65px;
        font-size: 36pt;
    }
}
                                                                  
.site-description {
    grid-area: row-2;
    display: grid;
    background-color: red;
    grid-template-areas: "left right";
    text-align: center;
    font-size: 25pt;

    #site-description-left {
        grid-area: left;
        background-color: green;
    }

    #site-description-right {
        grid-area: right;
        display: grid;
        justify-content: center;
        background-color: orange;
    }
}
            
.join {
    grid-area: row-3;
    display: grid;
    width: 100%;
    grid-template-areas:    "join-top join-top join-top"
                            "left join-bottom right";
    grid-template-rows: 50px 75px;
    grid-template-columns: auto 25% auto;
    justify-content: center;
}

#join-hook {
    grid-area: join-top;
    text-align: center;
    font-size: 20pt;
}

#join-login-button { 
    grid-area: join-bottom;
    font-size: 15pt;

}