#meta-grid-container {
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-areas: "main";
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;    
}

#main-grid-container {
    grid-area: main;
    display: grid;
    height: 70%;
    width: 100%;
    grid-template-areas:    "title"
                            "subtitle"
                            "byline"
                            "funny"
                            "site-details"
                            "join";
    grid-template-columns: 45%;
    grid-template-rows: 75px 75px 25px 100px 150px 175px;
    justify-content: center;
    align-items: center;
}

.titles {
    grid-area: title;
    text-align: center;
    font-size: 80pt;
    font-weight: bolder;
}
                           
.subtitles {
    grid-area: subtitle;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 30pt;
    font-weight: bold;
}
                            
.byline {
    grid-area: byline;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}
                                                  
#funny {
    grid-area: funny;
    text-align: center;
    font-size: 15pt;
}


#site-details {
    grid-area: site-details;
    text-align: center;
    font-size: 25pt;
}
            
.join {
    display: grid;
    width: 100%;
    grid-template-areas:    "join-top join-top join-top"
                            "left join-bottom right";
    grid-template-rows: 50px 75px;
    grid-template-columns: auto 25% auto;
    justify-content: center;
}


#join-hook {
    grid-area: join-top;
    text-align: center;
    font-size: 20pt;
}

#join-login-button { 
    grid-area: join-bottom;
    font-size: 15pt;

}