<div id="meta-grid-container">
    <div id="main-grid-container">
        <a class="welcome">A Software Engineering Project <br> Made With Heart by Your Florida Gators</a>
        <div class="site-description">
            <a>USwap is a place where students can find what they need easily.</a>
            <a>If you need a new putter for the disc golf hobby you're taking up, you can swap your ultimate
                disc for one!
            </a>
            <a>Just make an account with your UF email address, upload a picture and some details about your
                item, and then explore the marketplace for what you need!
            </a>
            <a>When you find what you need, pound that Swap button and follow the instructions!</a>
        <div class="join">
            <a id="join-hook">If you're interested, why not hop on in?</a>
            <button mat-raised-button color="primary" id="join-login-button" (click)="login()">Swap Me In!</button>    
        </div>
    </div>
</div>