.flex-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

mat-form-field {
    width: 300px;
}

button {
    font-size: large;
}