<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div id="page-grid">
    <div id="main-grid-container">
        <div id="grid-left">
            <app-swap-ui id="swapWith"></app-swap-ui>
        </div>
        <div id="grid-center">
            <!-- Some sort of arrow shape here-->
            <span id="swap-icon" class="material-symbols-outlined">
                swap_horiz
            </span>
        </div>  
        <div id="grid-right">
            <app-swap-ui></app-swap-ui>
        </div>  
        <div id="grid-bottom">
            <button mat-button id="confirm-swap" routerLink="/home" routerLinkActive="active">Confirm</button>
        </div>
    </div>
</div>




