<!DOCTYPE html>
<html>
    <header>
        <link href="app.component.css" rel="stylesheet">
        <title>USwap: You Have, I Want</title>
    </header>
    <nav>
        <a mat-button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        <a mat-button routerLink="/user-profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
    </nav>
    <router-outlet></router-outlet>
        
</html>