<!DOCTYPE html>
<html>
    <header>
        <link href="app.component.css" rel="stylesheet">
        <title>USwap: You Have, I Want</title>
    </header>
    <body>
        <div id="title_and_login">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h1 id="title">Basic Login Page</h1>

            <label id="email_label" for="inputt">Login: </label>

            <input id="email_input" type="email">

            <br>
            <br>

            <button id="email_submit" type="submit">Login</button>
        </div>
    </body>
    <script src="app.component.js"></script>
</html>