#main-grid {
    display: grid;
    grid-template-areas: "main";
    justify-content: center;
    align-items: center;
}

#swap-ui-grid {
    height: 110%;
    width: 100%;
    display: grid;
    grid-template-areas:    "top"
                            "row-2"
                            "row-3";
    gap: 10px;
}

#grid-top {
    grid-area: top;
}

#grid-row-2 {
    grid-area: row-2;
    font-size: xx-large;
}

#grid-row-3 {
    grid-area: row-3;
    font-size: x-large;
}