#main-grid-container {
    display: grid;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: middle;
    margin-top: 15px;

    grid-template-areas: "top top"
                         "bl br";
    grid-template-columns: 20% 75%;
    grid-template-rows: 12% 88%;
    row-gap: 30px;
    column-gap: 50px;
}

#top {
    grid-area: top;
    display: grid;
    align-items: middle;
    justify-content: center;
}

#input {
    display: grid;
    width: 750px;
}

#bottom-left {
    grid-area: bl;
}

#filters {
    display: grid;
    justify-content: center;
    align-items: center;
}



#bottom-right {
    grid-area: br;
    display: flex;
    flex-wrap: wrap;
    app-small-swap-ui {
        max-width: 32%;
    }
    gap: 15px;
}