<div id="main-grid-container">
    <div id="top">
        <div id="input">
            <mat-form-field class="login-credentials-input">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="query" [(ngModel)]="swapFor" id="search" placeholder="I want to swap for..." (keydown.enter)="search()">
            <button *ngIf="swapFor" matSuffix mat-icon-button aria-label="Clear" (click)="swapFor=''">
                <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>
        </div>
    </div>
    
    <div id="bottom-left">
        <div id="filters">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" multiple="true" >
                <mat-chip-option color="accent">{{filterNames[0]}}</mat-chip-option>
                <mat-chip-option color="accent">{{filterNames[1]}}</mat-chip-option>
                <mat-chip-option color="accent">{{filterNames[2]}}</mat-chip-option>
                <mat-chip-option color="accent">{{filterNames[3]}}</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>   

    <div id="evenlower">
        <app-small-swap-ui *ngFor="let item of itemsToDisplay; index as i"></app-small-swap-ui>
    </div>
</div>
