<div id="meta-grid">
    <div id="main-grid-container">
        <div id="grid-top">
            <!-- Some sort of arrow shape here-->
            <a>I want to Swap something for better thing</a>
        </div>
        <div id="grid-left">
            <!-- Some sort of arrow shape here-->
            <a>placeholder for filter</a>
        </div>  
        <div id="grid-right">
            <app-small-swap-ui id="grid-right-one"></app-small-swap-ui>
            <app-small-swap-ui id="grid-right-two"></app-small-swap-ui> 
            <app-small-swap-ui id="grid-right-three"></app-small-swap-ui> 
            <app-small-swap-ui id="grid-right-four"></app-small-swap-ui> 
            <app-small-swap-ui id="grid-right-five"></app-small-swap-ui> 
            <app-small-swap-ui id="grid-right-six"></app-small-swap-ui> 
        </div>
    </div>
</div>
