@use '@angular/material' as mat;
@include mat.core();

$my-primary-light: mat.define-palette(mat.$deep-orange-palette, 500);
$my-accent-light: mat.define-palette(mat.$blue-palette, 500);
$my-primary-dark: mat.define-palette(mat.$deep-orange-palette, 600);
$my-accent-dark: mat.define-palette(mat.$blue-palette, 600);
$my-warn: mat.define-palette(mat.$red-palette);

$uf-orange-theme: mat-define-theme((
    color: (
        primary: $my-primary-light,
        accent: $my-accent-light,
        warn:$my-warn,
    )
));

@include mat.all-component-themes($uf-orange-theme);