<div id="meta-grid">
    <div id="main-grid">
        <div id="top-left">
            <img id="profile-photo" src="../../assets/fidget-spinner.jpg">
        </div>
        <div id="top-right">
            <a id="username">Aaron Suydam</a>
            <div id="top-right-bottom">
                <p id="member-info">Member Since January 2023</p>
                <p id="interest-info">Interests include: computers, computer parts, rare tech,...</p>
            </div>
            
        </div>
        <div id="bottom">
            <button id="action-1" mat-button>View My Items</button>
            <button id="action-2" mat-button>Pending Swaps</button>
            <button id="action-3" mat-button>Swap History</button>
            <button id="action-4" mat-button>Action #4</button>
            <button id="action-5" mat-button>Action #5</button>
        </div>
    </div>
</div>