<div id="main-grid">
    <div id="top-left">
        <img id="profile-photo" src={{profilePicPath}}>
    </div>
    <div id="top-right">
        <a id="username">{{username}}</a>
        <div id="top-right-bottom">
            <p id="member-info">Member Since {{memberSinceDate}}</p>
            <p id="interest-info">Interests include: {{interests}}</p>
        </div>
        <div id="top-right-right">
            <button mat-raised-button id="add-items" color="primary">Add Item</button>
        </div>
        
    </div>
    <div id="bottom">
        <app-small-swap-ui *ngFor="let item of userItems; index as i;"></app-small-swap-ui>
    </div>
</div>