#main-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:    "topleft topright"
                            "bottom bottom";
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;
}

#top-left {
    grid-area: topleft;
    display: grid;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 50pt;
}

#profile-photo {
    border-radius: 50%;
}

#top-right {
    grid-area: topright;
    margin-top: 50px;
    display: grid;
    grid-template-areas: "top-right-top top-right-right"
                         "top-right-bottom top-right-right";
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
}

#username {
    grid-area: top-right-top;
    font-size: 45pt;
}

#top-right-bottom {
    grid-area: top-right-bottom;
}

#top-right-right {
    grid-area: top-right-right;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: trrmain;
    align-items: middle;
    justify-content: center;
}

#add-items {
    grid-area: trrmain;
    font-size: 16pt;
}


#member-info {
    font-size: 15pt;
}

#interest-info {
    font-size: 13pt;
}

#bottom {
    grid-area: bottom;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: "grid-actions";
    grid-template-columns: 21% 21% 21% 21%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

