<div id="main-grid">
    <div id="top-left">
        <img id="profile-photo" src="../../assets/aaron-profile-pic.jpg">
    </div>
    <div id="top-right">
        <a id="username">Aaron Suydam</a>
        <div id="top-right-bottom">
            <p id="member-info">Member Since January 2023</p>
            <p id="interest-info">Interests include: computers, computer parts, rare tech,...</p>
        </div>
        <div id="top-right-right">
            <button mat-raised-button id="add-items" color="primary">Add Item</button>
        </div>
        
    </div>
    <div id="bottom">
        <app-small-swap-ui id="1">Item Details</app-small-swap-ui>
        <app-small-swap-ui id="2">Item Details</app-small-swap-ui>
        <app-small-swap-ui id="3">Item Details</app-small-swap-ui>
        <app-small-swap-ui id="4">Item Details</app-small-swap-ui>
        <app-small-swap-ui id="5">Item Details</app-small-swap-ui>
        <app-small-swap-ui id="6">Item Details</app-small-swap-ui>
        <app-small-swap-ui id="7">Item Details</app-small-swap-ui>
        <app-small-swap-ui id="8">Item Details</app-small-swap-ui>
    </div>
</div>