<mat-toolbar color="primary">
    <button mat-icon-button class="menu-icon" aria-label="Icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="home" mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">USwap</a>
    <span class="spacer"></span>
    <a *ngIf="!this.isAuthenticated" class="login" mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    <button mat-icon-button class="profile-icon" routerLink="/user-profile" routerLinkActive="active" aria-hidden="false" arial-label="Profile picture">
        <mat-icon>person</mat-icon>
    </button>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <button mat-icon-button class="dark-mode" onclick="changeTheme()">
        <mat-icon>light_mode</mat-icon>
    </button>
</mat-toolbar>