<mat-toolbar color="primary">
    <button mat-icon-button class="menu-icon" aria-label="Icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="home" mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">USwap</a>
    <span class="spacer"></span>
    <a *ngIf="!this.isAuthenticated" class="login" mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    <button mat-icon-button class="profile-icon" routerLink="/user-profile" routerLinkActive="active" aria-hidden="false" arial-label="Profile picture">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>