mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    align-items: center;
    .hidden {
        color: #ff5712;
        font-size: 7;
        font-weight: lighter;
    }
}

.home {
    font-size: 24pt;
    font-weight: lighter;
    letter-spacing: normal;
}

.right-side {
    display: flex;
    align-items: center;
}